body {
    background-color:darksalmon;
}

h1 {
    color: black;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 100px;
    font-family: Copperplate, Fantasy;
  }

iframe
{
    margin-left: 190px;
}

